// Place all the styles related to the advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.phone-window{width:480px;height:960px;background:black;margin-left:100px}
.ad-up{width:480px;height:15%;background:red}
.bottom-body{width:100%;height:85%;}
.ad-sides{width:25%;height:100%;background:white}
