<ul class="nav">
  <li>
    <%= link_to '首页', root_path%>
  </li>
</ul>

<ul class="nav" style="float:right">
  <% if store_manager_signed_in? %>
    <li>
    <%= link_to '登出', destroy_store_manager_session_path, :method=>'delete'%>
    </li>
  <% else %>
  <% end %>
  <% if store_manager_signed_in? %>
    <li>
    <%= link_to '修改账号', edit_store_manager_registration_path%>
    </li>
  <% else %>
  <% end %>
</ul>
